﻿@{
    ViewBag.Title = "About";
}
<head>
    <title></title>
        <style>
            body {
                background-image: url("http://wallpapercave.com/wp/01Syr5o.jpg");
            }
</style>
   
</head>

<body>



    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    
    <b>Couch</b> : Shahid Rasool<br>
    <b>Contact</b> : 0321 4320530<br />

    Boxing is a combat sport in which two people wearing protective gloves throw punches<br> at each other for a predetermined set of time in a boxing ring.<br>
    Fitness and Sprots Club any one can join just spirit is needed, Our Goal is to achieve Gold medel on every Match.
    <br>
    Highly Qua;ified Couches are Available .
</body>