﻿<head>
    <title></title>
    <style>
        body {
            background-image: url("http://wallpapercave.com/wp/01Syr5o.jpg");
        }
    </style>

</head>

<body>


    @{
        ViewBag.Title = "Contact";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Near RaceCourse (Jilani Park)<br />
        <abbr title="Phone">P:</abbr>
        +92 334 409 9842
    </address>
    <h2>Location From Map</h2>
    <img src="~/images/map.png" />
    </body>
