﻿@{
    ViewBag.Title = "Home Page";
}
<head>
    <title></title>
    <style>
        body {
            background-image: url("http://wallpapercave.com/wp/01Syr5o.jpg");
        }
    </style>

</head>

<body>
   

    <div class="jumbotron">

        <img src="~/images/Untitled.jpg" />
    </div>



    <div class="row">
        <div class="col-md-4">
            <h2>Boxer Amir Khan</h2>

            <img src="~/images/th9ZKPLD4W.jpg" />

            <p><a class="btn btn-default" href="http://www.dailymotion.com/video/xrrczh_hbo-boxing-amir-khan-greatest-hits_sport">Watch Amir super Hits &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Boxer M.Waseem</h2>
            <img src="~/images/rsz_muhammad-waseem-20th-commonwealth-games-boxing-krs2wsuiqwwl.jpg" />
           
            <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=fGFdcJfs8Qk">Watach Waseem Super Hits &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Legend</h2>

            <img src="~/images/mukhammed_ali_bokser_sport_adidas_93926_300x168.jpg" />
            <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=C_fEIVwjrew">Best Knockout &raquo;</a></p>
        </div>
    </div>
</body>